html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	margin: 0px;
	padding: 0px;	
}
body{
	color: #666;
	font-family:solaimanLipi,arial;
	font-size: 14px;
	line-height: 20px;
}
.fix{
	overflow:hidden;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.stracture{
	margin: 0 auto;
	display: block;
	
}
.wrapper1{
	width: 21cm;
	padding:1em;
	margin: 0 auto;
	border: 1px black solid;
	border-radius: 5px;
	background: white;
}
.top-side{
	width: 21cm;
}
.heading{
	text-align:center;
	line-height: 17px;
	border: 1px solid gray;
	padding: 1em;
}
.heading>h2{
	font-weight: bold;
	font-size: 21px;
	padding-bottom: 5px;
}
.heading>h4{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	padding-bottom: 2px;
}
.heading p.highilight{
	font-weight: bold;
	font-size: 15px;
}
.footer{
	margin-top: 20px;
}
.footer>table tr td{
	border: 1px solid #000;
}
.footer>table tr td.tbltophead>h2, h3{
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
.footer>table tr td.tblhead{
	color: #000;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	font-weight: 600;
}
.footer>table tr td.tbl-head{
	color: #000;
	font-size: 13px;
	text-align: center;
	padding: 5px;
	font-weight: 500;
}

.footer>table tr td.tbldis{
	color: #000;
	font-size: 14px;
	text-align: left;
	padding: 3px;
	font-weight: normal;
	text-indent: 5px;
}
.footer>table tr td.center{
	text-align: center;
}
.footer>table tr td.left{
	text-align: left;
}
.footer>table tr td.right{
	text-align: right;
}

@media all and (max-width: 1065px) {
	#print-full-page {
		display:none;
	}
}
@media print
{    
	.no-print, .no-print *
	{
		visibility:hidden;
	}
	table{
		background:none;
	} 
}
.date{
	width:90px;
}
@media print {
	#bar{display:none;}
	#container th{border:1px solid #f1f1f1;}
}