/* WRITE YOUR CSS CODE HERE */

.w100{width:100%;}

.blank {
	background:#FAE1E3 url('tmp/blank.png') no-repeat right center;
	border-color: red !important;
	color: #665252;
	border:1px solid red;
}

.slim{
padding:2px 5px;
margin:20px 0px;
background:red;
font-size:11px;
color:#fff;
cursor:pointer;
border:none;
}
.slim:hover{color:#fff;}

.thumb{float:left;margin:5px;padding:0px;}
.thumb img{padding:5px;border: 1px solid #ccc;background:#f1f1f1;}

.thum{float:left;margin:5px;padding:0px;text-align:center;font-size:11px;font-weight:bold;}
.thum img{padding:3px;border: 1px solid #ccc;background:#fff;}
.thum a{color:#333;text-decoration:none;}

.home{display:block;}
ul.gallery{margin:0px;padding:0px;}
ul.gallery li{margin:0px;padding:0px;}
td.desc{font-size:11px;font-weight:italic;color:#ccc}