body{
	background:lightgray;
	font-family:solaimanLipi;
	margin:0;
	padding:0;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
table.atro
{
height:70px; width:960px; margin-left:0px; margin-top:00px;
}
#main{
height:14.5in;
width:8.5in;
background-color:white;
margin:0px auto;
overflow:visible;
}

#main_second{
height:14.5in;
width:8.5in;
float:left;
position:relative;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

#muri{
	height:3.3in;
	width:8.5in;
	border-bottom:2px dotted black;
	margin:0px auto;
	margin-bottom:10px;
	padding:1px;
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
table.muri_table tr td input{
	border:none;
	background:none;
} 

.nagorik_head{
	text-align:center;
	width:120px;
	height:20px;
	margin:0px auto;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:white;
	font-size: 14px;
	line-height:21px;
	font-style:normal;
	padding:1px;
	background:pink;
	position:relative;
	
}
.wrapper{
	border: 9px solid transparent;
	margin:0 auto;
	border-image: url(../assets/img/border-image/border.png) 20% round;
	height:10.7in;
	width:8.2in;
	position: relative;
	background-size:70%;
	outline:4px solid #1C5A03;

}
.jolchap {
	background: url(../site_image/logo_bd3.png)no-repeat center;
	padding-bottom: 15px;
	background-size:85%;
}
#cert{
	height:10.7in;
	width:8.2in;
	float:left;
	position: relative;
	border:0px solid red;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}



#header{
width:820px;
float:left;
border:0px solid;
padding:5px;
border:1px solid;

}

#second_topline{
height:42px;
width:788px;
float:right;
border:0px solid;
font-size:30px;
margin-left:50px;
text-align:center;
padding-top:5px;
border-bottom:0px;
}



#sonod_number{
height:38px;
width:8.2in;
float:left;
clear:both;
}
/*  - For Print
------------------------------------------------------*/
.print-certificate {
	width: 77px;
	height: 76px;
	position: fixed;
	padding: 5px;
	bottom: 30px;
	right: 30px;
	color: #ffffff;
	font-size: 2em;
	text-align: center;
	line-height: 36px;
	background-color: #D3D3D3;
	-moz-border-radius: 6px 20px 6px 20px;
	-webkit-border-radius: 6px 20px 6px 20px;
	border-radius: 6px 20px 6px 20px;
	z-index: 9999;
}
.print-certificate img{
	width: 70px;
	height: 70px;
	margin-top: 5px;
	cursor: pointer;
}
@media all and (max-width: 1065px) {
    #print-full-page {
        display:none;
    }
}
/*  - For Print End
------------------------------------------------------*/

